/build_production/
/build_local/
/cache/
/node_modules/
/vendor/
/.idea/
/.vscode/
npm-debug.log
hot

# Optional ignores
# /build_staging/
# /build_production/
# /source/assets/build/css/
# /source/assets/build/fonts/
# /source/assets/build/js/
# /source/assets/build/mix-manifest.json
